.calendar {
  display: grid;
  border: 1px solid black;
  grid-template-columns: repeat(7,1fr);
  grid-template-rows: max-content;
  grid-auto-rows: 1fr;
  *{
    box-sizing: border-box;
  }
  div {
    border:1px solid #aaa;
    padding: 0.5rem;
    &:hover{
      background: #acf;
    }
    &.header {
      font-weight: bold;
      text-align: center;
    }
    ul {
      list-style: none;
      margin-left: 0;
      li: {
        list-decoration: none;
      }
    }
  }
}


