
.calendar-container {
  *{
    box-sizing: border-box;
  }
  .calendar {
    display: grid;
    border: 1px solid black;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: max-content;
    grid-auto-rows: 1fr;
    div {
      border:1px solid #555;
      padding: 0;
      padding-right: 0.2rem;
      padding-left: 0.2rem;
      position:relative;
      overflow-x:hidden;
      &.header {
        font-weight: bold;
        text-align: center;
        background-color: #bdf;
        height: max-content;
      }
      &.day{
        max-height:20vh;
        min-height: 10vh;
        &:hover {
          cursor: copy;
          transition:background-color 0.3s;
          background-color: #acf4;
         }
      }
    }
    ul.nodecoration {
      list-style: none;
      padding: 0 !important;
      margin: 0 !important;
      display:flex;
      flex-direction: column;
      align-content: flex-start;
      justify-content: space-between;
      li.event {
        overflow:hidden;
        text-wrap: nowrap;
        &:hover {
          background: #acf;
          transition: background 0.3s;
          cursor: pointer;
        }
      }
      li.daynum {
        color: #888;
        text-align: left;
        font-size: 10pt;
        line-height: 10pt;
        padding: 0.1rem;
        margin: 0;
        &:hover {
          cursor: copy;
        }
      }
      li.event + li.event {
        border-top: 1px solid #999;
      }
    }
    li.nodecoration {
      padding-top: 0.1rem;
      padding-bottom: 0.5rem;
      margin-left:0;
      margin-right:0;
      display: inline-block;
      margin-inline-start: 0 !important;
      width:100%;
    }
  }

  div.calendar-switcher {
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: stretch;
    align-content:end;
    text-align:center;
    &:hover{
      cursor:pointer;
    }
    span.active {
      font-weight: bold;
      font-size: 14pt;
      background-color: #bdf;
      border: 1px solid black;
      flex:1;
    }
    span.hidden {
      font-size: 12pt;
      color: #888;
      font-weight:normal;
      border:none;
      border-bottom: 1px solid black;
      flex:1;
    }
  }
}
